<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings><add name="ItaliaPizzaEntities" connectionString="metadata=res://*/ItaliaPizzaModel.csdl|res://*/ItaliaPizzaModel.ssdl|res://*/ItaliaPizzaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-S2B0C976\SQLEXPRESS;initial catalog=ItaliaPizza;persist security info=True;user id=Gerente;password=oZTyf744Q1nC;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="ItaliaPizzaEntities" connectionString="metadata=res://*/ItaliaPizzaModel.csdl|res://*/ItaliaPizzaModel.ssdl|res://*/ItaliaPizzaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-S2B0C976\SQLEXPRESS;initial catalog=ItaliaPizza;persist security info=True;user id=Gerente;password=oZTyf744Q1nC;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>