<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/>
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
	<system.serviceModel>
	 <bindings>
   <netTcpBinding>
    <binding name="NetTcpBinding_IProductManager">
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IUserManager">
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_ISupplierManager">
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IOrderManager">
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IInsumoManager">
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IRecipeManager">
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_ICashRecord">
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
   </netTcpBinding>
  </bindings>
  <client>
   <endpoint address="net.tcp://localhost:8081/Services" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_IProductManager" contract="ItaliaPizzaServer.IProductManager"
    name="NetTcpBinding_IProductManager" />
   <endpoint address="net.tcp://localhost:8081/Services" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_IUserManager" contract="ItaliaPizzaServer.IUserManager"
    name="NetTcpBinding_IUserManager" />
   <endpoint address="net.tcp://localhost:8081/Services" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_ISupplierManager" contract="ItaliaPizzaServer.ISupplierManager"
    name="NetTcpBinding_ISupplierManager" />
   <endpoint address="net.tcp://localhost:8081/Services" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_IOrderManager" contract="ItaliaPizzaServer.IOrderManager"
    name="NetTcpBinding_IOrderManager" />
   <endpoint address="net.tcp://localhost:8081/Services" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_IInsumoManager" contract="ItaliaPizzaServer.IInsumoManager"
    name="NetTcpBinding_IInsumoManager" />
   <endpoint address="net.tcp://localhost:8081/Services" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_IRecipeManager" contract="ItaliaPizzaServer.IRecipeManager"
    name="NetTcpBinding_IRecipeManager" />
   <endpoint address="net.tcp://localhost:8081/Services" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_ICashRecord" contract="ItaliaPizzaServer.ICashRecord"
    name="NetTcpBinding_ICashRecord" />
  </client>
 </system.serviceModel>
</configuration>
